VITE_SUPABASE_URL=https://sdbwfxhxdruwhomelvdz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNkYndmeGh4ZHJ1d2hvbWVsdmR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwNzcwMjEsImV4cCI6MjA5NDY1MzAyMX0.X0JFpDATv2StSgez8AIN1Y-IEr7PKcaiqHEZoXlDT3w
VITE_ADMIN_EMAILS=jarryullah46@gmail.com

GEMINI_API_KEY=AIzaSyAu_M-xuPEYyJjRmhKf1m-XQ_6sRvl6YQ4
